@charset "UTF-8";

/*  em HTML é ID = em CSS é # (só pode um elemento por pagina)
    em HTML é class = em CSS é . (pode vários)
*/

body{
    background-image: linear-gradient(to right, blueviolet, rgb(96, 214, 96));
    margin: 0px;
    
}

main{
    background-color: white;
    width: 800px;
    margin: auto;
    padding: 5px;

}

#principal{
    color: blueviolet;
    background-color: rgba(127, 255, 212, 0.562);
    text-align: center;

}

h1{
    color: #1600d8;
    text-align: center;
    text-shadow: 1px 1px 2px black;
   

}

p{
    font-size: larger;
    font-weight: 300;
    
}

.basico{
    color: #57a557;
    text-align: right;
    background-color: #57a55742;
 text-shadow: 1px 1px 2px   black;
}

.intermediario {
    color: #c5c555;
    text-align: right;
    background-color: #c5c55546;
    text-shadow: 1px 1px 2px   black;


}

.avançado, .destaque{
    color: #e26464;
    text-align: right;
    background-color: #e2646450;
    text-shadow: 1px 1px 2px   black;

}




