@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif; 
   
}
body{
    background-image: linear-gradient(to right,#9AEBA3,#DAFDBA );
 
}
main{
    background-color: rgb(255, 255, 255);
    width: 600px;
    margin: auto;
    border-radius: 2%;
    padding: 10px;
    box-shadow: 5px 5px 15px #1a50488c;

}
h1{
    color:#13678A;
    text-align: center;
    text-shadow: 1px 1px 2px #000000d5;
    

}

h2{ color: #012030;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.541);

}
p{ 
    text-align: justify;
    ;

}